# Provable API credentials
VITE_PROVABLE_API_KEY=
VITE_PROVABLE_CONSUMER_ID=

# Optional: Use a custom base url for the provable APIs
# Vite is pre-configured with /provable-api to point to official APIs with CORS bypass
# See vite.config.ts file
# Default: https://api.provable.com
VITE_PROVABLE_API_ROOT=/provable-api

# Optional: pre-fill the private key field with this value
VITE_DEFAULT_PKEY=
